.result {
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  border: 3px solid rgb(39, 39, 42);
  border-radius: 1rem;
  background-color: rgba(39, 39, 42, 0.3);
  color: #9ca3af;
  font-family: monospace;
  font-size: large;
}

.after {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}