html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #18181b;
}

a {
  color: inherit;
}

input {
  outline: none;
}

.app {
  margin: 8rem auto;
  max-width: 1024px;
}

.container {
  margin-right: 4rem;
  margin-left: 4rem;
  padding: 1.5rem 2rem;
  border: 3px solid #27272a;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(39, 39, 42, 0.75);
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: #9ca3af;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0 0.5rem 0;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.subtitle a {
  font-weight: 600;
  transition: color 300ms;
}

.subtitle a:hover {
  color: white;
}

.status {
  display: flex;
  align-items: center;
}

.status-ping {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

/* CONTENT */

.content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

/* FORM INPUT */

form {
  width: 100%;
  font-weight: 600;
}

.input-group {
  display: grid;
  position: relative;
  margin-bottom: 1rem;
  color: #9ca3af;
}

.input-group > label {
  margin: 0 0 0.5rem 0.25rem;
}

#amount,
.select-placeholder {
  width: 100%;
  height: 3rem;
  padding: 0 0.75rem;
  border-radius: 0.75rem;
  background-color: #18181b;
  border: 3px solid #27272a;

  /* font */
  color: #9ca3af;
  font-size: 1rem;
  font-family: monospace;
}

#amount:is(:hover, :focus) {
  border-color: #9ca3af;
}

.swap,
.swap-button,
.convert-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap {
  position: relative;
  width: 100%;
  margin: 1rem 0 0.75rem 0;
}

.swap-button {
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  border: 3.5px solid #27272a;
  background-color: #18181b;
  
  /* font */
  color: #9ca3af;
  font-weight: bold;

  /* misc */
  z-index: 10;
  cursor: pointer;
}

.swap-icon {
  margin-left: 0.5rem;
}

.line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #27272a;
}

.swap:hover .swap-button {
  color: white;
  border-color: #9ca3af;
}

.swap:hover .line {
  background-color: #9ca3af;
}

.convert-button {
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba(59, 130, 246, 0.9);
  
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.convert-button:hover {
  background-color: rgb(59, 130, 246);
}

/* SELECT INPUT */

.select-placeholder,
.radio-button {
  cursor: pointer;
}

.select-placeholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-placeholder:is(:hover, :focus) {
  border-color: #9ca3af;
}

.select-input {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 5.5rem;
  z-index: 20;
  border-radius: 0.75rem;
  background-color: #18181b;
  border: 3px solid #27272a;
}

.select-input > ul {
  max-height: 200px;
  overflow-y: auto;
}

.radio-button {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;

  /* font */
  font-weight: bold;
  font-family: monospace;
}

.radio-button:hover {
  color: white;
}

.flag {
  margin-top: 0.15rem;
  margin-right: 0.5rem;
  transition: transform 300ms;
}

.flag.flipped {
  transform: rotate(180deg);
}

/* RESULT */

.result {
  width: 100%;
  height: 200px;
  padding: 2rem;
  border-radius: 1rem;
  
  border: 3px solid #27272a;
  background-color: rgba(39, 39, 42, 0.3);
  word-break: break-all;
  overflow-wrap: anywhere;
  
  /* font */
  color: #9ca3af;
  font-size: large;
  font-family: monospace;
}

.converted {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.loading {
  width: 2rem;
  height: 2rem;
  fill: white;
  color: #9ca3af;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .title {
    justify-content: center;
  }
  .subtitle {
    text-align: center;
  }

  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 514px) {
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .app{
    margin: 4rem 0;
  }
  .container {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}